body {
    color: #e3e4ee;
    font-family: 'Franklin Gothic Medium';
  }

  p {
    color: #000000;
    font-family: verdana;
    text-align: center;
    }

h5, h6 {
  color: #000000;
  font-family: verdana;
  }

select {
  color: #000000;
  font-family: verdana;
  text-align: center;
  }

.jumbotron {
  background-image: url("../bacteria.png");
  background-size: 100% 100%;
  text-align: center;
}
